* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(29, 0, 56);
    color: #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.file-search-block {
    align-items: center;
    justify-content: center;
    min-width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.text-block {
    background-color: antiquewhite;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 19rem;
    max-width: 90%;
    text-align: center;
    margin-right: 0.5rem;
}

h1 {
    margin-bottom: 1.5rem;
    color: #1a2c4e
}

h3 {
    margin-bottom: 1rem;
    color: #1a2c4e
}

.filenames-text-block {
    background-color: antiquewhite;
    padding: 0.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 19rem;
    max-width: 90%;
    text-align: center;
    margin-right: 0.5rem;
}

.filecontent-text-block {
    background-color: antiquewhite;
    padding: 0.5rem;
    margin-inline: 0.25rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 20rem;
    min-width: 90%;
    text-align: center;
}

.file-upload {
    background-color: antiquewhite;
    padding: 0.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 19rem;
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.filecontent {
    color: #1a2c4e;
    min-width: fill;
    width: 75rem;
    text-align: center;
    height: 16.5rem;
    min-height: max-content;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    scrollbar-width: thin;
    scrollbar-color: #cda2f5;
    text-align: left;
}

.filenames {
    color: #1a2c4e;
    border-radius: 12px;
    width: 100%;
    height: 15rem;
    max-width: 500px;
    text-align: center;
    max-height: max-content;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #cda2f5;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #2f2c57;
}

input[type="text"] {
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border: 1px solid #2f2c57;
    border-radius: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus {
    outline: none;
    border-color: #8c00ff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

button {
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #2f2c57;
    background-color: #cda2f5;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #2f2c57;
    color: #cda2f5;
}

.input-file {
    display: none;
}

.handmade-button {
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #2f2c57;
    background-color: #cda2f5;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 3rem;
}

.handmade-button:hover {
    background-color: #2f2c57;
    color: #cda2f5;
}

#info-arquivo {
    background-color: white;
    color: #2f2c57;
    border-radius: 8px;
    border: 1px solid #2f2c57;
}

#upload-button {
    margin-top: 3rem;
}